@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"); */

/* 全画面の共通クラス */
:root,
:root.light-blue {
  --bg-color: #cff4fc;
  --top-bar-color: #0ec5ee; 
  /* --text-color: #212529; */
}

:root.yellow {
  --bg-color: #fff3cd;
  --top-bar-color: #ffc107;
  /* --text-color: #212529; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
}

@media (min-width: 768px) {
  .main-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-content {
    max-width: 960px;
  }
}

.error-message {
  color: red;
  text-align: center !important;
}

/* トップバー．メニューバー */
.top-bar {
  padding: 8px;
  margin: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  z-index: 1020;
  background-color: var(--top-bar-color) !important;
  justify-content: space-around !important;
}

.system-icon,
.logout-icon { 
  font-size: 35px;
  color: whitesmoke;
  flex: 0 0 auto;
  width: auto;
}

.logout-icon { 
  cursor: pointer;
}

.nav-btn-group {
  flex: 0 0 auto;
  width: 75%;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  margin: 0.5rem 0 !important;
}

.nav-btn-group > .nav-btn {
  position: relative;
  flex: 1 1 auto;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

.nav-btn-group > .nav-btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-btn-group > .nav-btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-btn-group > .nav-btn + .nav-btn {
  margin-left: -1px;
}

.nav-btn {
  width: 33.333333333%;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  text-decoration: none;
}

.nav-btn:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.nav-btn.active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

/* ログイン、新規登録、プロフィット編集画面の共通クラス */
.form-row {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
  margin: 1rem 0 !important;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}

.input-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-area {
  display: block;
  width: 100%;
  min-height: 2.625rem;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  font-family: inherit;
}

/* 新規登録、プロフィット編集画面の共通クラス */
.btn-area {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  margin: 1rem auto;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .btn-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.age-select {
  display: block;
  word-wrap: normal;
  text-transform: none;
  width: 100%;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  margin: 0;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
}

.gender-btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  min-height: 1.5rem;
  border-radius: .5rem;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100% !important;
}

.gender-btn-group > .gender-btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gender-btn-group > .gender-btn:nth-child(n+3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.gender-btn-group > .gender-btn {
  position: relative;
  flex: 1 1 auto;
}

.gender-btn-group > :not(.btn-check:first-child) + .gender-btn {
  margin-left: -1px;
}

.gender-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #212529;
  background-color: transparent;
  user-select: none;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: auto;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-check:checked + .gender-btn {
  z-index: 1;
  color: #fff;
  border-color: #212529;
  background-color: #212529;
}

.file-input {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-height: 2.625rem;
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
}

.file-input::file-selector-button {
  overflow: hidden;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: -0.5rem 0.5rem -0.5rem -1rem;
  min-height: 48px;
  border: none;
  border-right: 1px solid #dee2e6;
  border-radius: 0;
  background-color: whitesmoke;
}

.file-input::file-selector-button:hover {
  background-color: lightgray;
}

/* ログイン画面 */
.loginId-area,
.password-area {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.login-btn-area {
  flex: 0 0 auto;
  width: 50%;
  display: grid !important;
  gap: 1.5rem !important;
  margin: 1rem auto !important;
}

.btn-login,
.btn-register {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.btn-login {
  background-color: royalblue;
}

.btn-register {
  background-color: black;
}

/* 新規登録画面 */
.reg-loginId-area,
.reg-password-area,
.reg-age-area,
.reg-gender-area {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.reg-username-area,
.reg-pic-area {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.btn-new-register,
.btn-return-login {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.btn-return-login {
  color: white;
  background-color: black;
}

.btn-new-register {
  color: black;
  background-color: #0dcaf0;
}

/* プロフィール編集画面 */
.edit-username-area,
.edit-age-area,
.edit-gender-area {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.edit-bloodType-area,
.edit-location-area {
  flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.edit-interests-area,
.edit-description-area {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.edit-height-area,
.edit-weight-area,
.edit-education-area,
.edit-occupation-area,
.edit-smokingHabits-area, 
.edit-drinkingHabits-area {
  flex: 0 0 auto;
  width: 33.33333333334%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.btn-update-profile, 
.btn-return-profile {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.btn-update-profile {
  background-color: #0d6efd;
  color: #fff;
}

.btn-return-profile {
  background-color: #212529;
  color: #fff;
}

/* プロフィール画面 */
.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-left,
.profile-right {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #212529;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  flex: 0 0 auto;
  width: 100%;
  padding: 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
}

.profile-left {
  height: 80vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
}

.profile-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent;
}

@media (min-width: 768px) {
  .profile-left {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
  }
  
  .profile-right {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: transparent;
    overflow-y: auto;
    height: 80vh;
  }
}

.pic-area {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.profile-btn-area {
  display: grid;
  flex: 0 0 auto;
  width: 300px;
  gap: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
}

.pic-area {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.profile-btn-area {
  display: grid;
  flex: 0 0 auto;
  width: 300px;
  gap: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
}



.del-btn,
.edit-profile-btn {
  display: inline-block;
  padding: 0.375rem 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.375rem;
}

.del-btn {
  border: 1px solid red;
  background-color: red;
}

.edit-profile-btn {
  border: 1px solid #6c757d;
  background-color: #6c757d;
}

.del-btn:hover {
  background-color: rgb(215, 0, 0);
  border-color: rgb(215, 0, 0);
}

.edit-profile-btn:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.prev-btn, .next-btn {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
  color: #dee2e6;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
}

.profile-pic {
  display: none;
  height: 300px;
  width: 300px;
  margin: auto;
  vertical-align: middle;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  object-fit: scale-down !important;
}

.profile-pic.active {
  display: block;
  position: relative;
}

.profile-username {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.profile-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.item-title {
  min-width: 100px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin: .5rem 0;
  padding: .5rem !important;
}

.item-body {
  border-left: 1px solid grey;
  padding: .5rem 1.5rem !important;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

/*  マッチング一覧 */
.search-form {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  top: 70px;
  width: 100%;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  z-index: 1000;
  background-color: var(--bg-color);
}

.search-input-area {
  position: relative;
  flex: 1 1 auto;
  display: block;
  width: 1%;
  min-width: 0;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0.375rem 0.75rem;
  margin-left: -1px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgb(13, 29, 202);
  border-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(13, 29, 202);
}

.search-btn:hover {
  border: 1px solid rgb(61, 74, 216);
  background-color: rgb(61, 74, 216);
}

.search-btn:active {
  border: 1px solid rgb(87, 96, 194);
  background-color: rgb(87, 96, 194);
}

.matched-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  color: #212529;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.matched-card-icon {
  flex: 0 0 auto;
  width: auto;
  padding: 0 !important;
}

.matched-profile-pic {
  height: 150px;
  width: 150px;
  vertical-align: middle;
  border-right: 1px solid rgba(0, 0, 0, 0.175);
  object-fit: scale-down !important;
}

.matched-card-body {
  flex: 1 1 auto;
  width: 66.66666667%;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem !important;
  margin-left: 1rem !important;
}

.matched-card-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.matched-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1rem 0 !important;
}

/* いいね画面 */
#success {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100wh;
  height: 100vh;
  padding-top: 80px;
  margin-top: -70px;
  text-align: center;
  font-size: 200px;
  color: red;
  background-color: lightpink;
}

#success > h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 1000;
  line-height: 1.5;
  color: inherit;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5rem -0.75rem 0 -0.75rem;
}

.list-col {
  flex-shrink: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .list-col {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .list-col {
    width: 33.33333333%;
  }
}

.target-pic {
  height: 300px;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  object-fit: scale-down !important;
}

.target-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #212529;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  height: 100% !important;
  text-align: center !important;
}

.target-card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.target-card-title {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.target-card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.like-btn-area {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  gap: 0.5rem;
}

.dislike-btn,
.like-btn {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.dislike-btn {
  border: 1px solid #ec3131;
  background-color: #ec3131;
}

.like-btn {
  border: 1px solid #198754;
  background-color: #198754;
}

.dislike-btn:hover {
  background-color: #ec1b1b;
  border-color: #ec1b1b;
}

.like-btn:hover {
  background-color: #157347;
  border-color: #157347;
}

/* プロフィール写真編集画面 */
.edit-pic {
  flex: 0 0 auto;
  margin: 0.5rem 0.25rem;
  height: 80px;
  width: 80px;
  background-color: #fff;
  vertical-align: middle;
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.edit-pic > .bi-person-plus-fill {
  padding: 15px;
  display: inline-block;
  font-family: inherit;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
}

.del-pic-btn {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 0.5rem 0.25rem;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #bb1b1b;
  border-radius: 50%;
  background-color: #bb1b1b;
  cursor: pointer;
}

.del-pic-btn:hover {
  background-color: #c03030;
  border-color: #c03030;
}

.del-pic-btn.disable {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

.upload-pic-area {
  flex: 0 0 auto;
  width: calc(100% - (88px * 2));
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

/* メッセージ画面 */
.message-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #212529;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
}

.message-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  line-height: 1;
  background-color: rgba( 33,37,41 , 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  justify-content: space-between;
}

.message-body {
  flex: 1 1 auto;
  padding: 1rem;
  height: 65vh;
  overflow-y: auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.message-footer {
  padding: 0.5rem 1rem;
  background-color: rgba( 33,37,41 , 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.return-list-btn {
  flex: 0 0 auto;
  width: auto;
  margin: 0.75rem 0;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  text-decoration-color: rgba( 33,37,41 , 0);
  color: rgba(33,37,41, 1);
}

.message-name-btn {
  flex: 0 0 auto;
  width: auto;
  margin: 0.25rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(33,37,41, 1);
  text-decoration-color: rgba( 33,37,41 , 0);
}

.message-pic {
  flex: 0 0 auto;
  width: auto;
  vertical-align: middle;
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.message-header > .message-pic {
  margin: 0 0.375rem;
  height: 40px;
  width: 40px;
}

.message-body .message-pic {
  margin: 0.25rem;
  height: 50px;
  width: 50px;
}

.receive-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
}

.send-area {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.75rem;
}

.message-text {
  display: flex;
  flex: 0 0 auto;
  max-width: 50%;
  padding: .75rem;
  margin: 0.5rem;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.5rem;
}

.message-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.message-input-area {
  display: block;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem 0 0 0.375rem;
}

.send-btn {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0.375rem 0.75rem;
  margin-left: -1px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #6c757d;
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: #6c757d;
}

.send-btn > i {
  font-size: 16px;
  font-style: unset;
}

.send-btn:hover {
  border: 1px solid #83888d;
  background-color: #83888d;
}